$background: #daeaf6;
// $box-color: #c1dcf0;
$box-color: #e0bd9e;
$second-box-color: #ce9564;

$fonts-media: (
    h1: 3rem,
    title: 1rem,
    proj_title: 15px,
    proj_des: 13px,
    icons: 20px,
    cert: 15px

);

//no flexbox in mixin
@mixin box($back){
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
    background: $back;
}

.skills{
    @include box($background);
    display: flex;
    flex-direction: column;
    
    &-programming{
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        &__languages{
            @include box($box-color);
            flex-direction: row;

            i{
                margin-left: 3rem;
                align-items: flex-end;
            }
        }
    }
    &-certifications{
        padding: 2rem;
        &__name{
            @include box($box-color);
        }
    }

}

.projects{
    @include box($background);
    &-list{
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        h2{
            flex:1;
        }
        h3{
            a{
                background: $second-box-color;
                border: 1px solid none;
                border-radius: 15px;
                padding: 1rem;
            }
        }
        &__item{
            @include anim;
            @include box($box-color);
            color: black;

            i:hover{
                transform: translateY(-10%);

            }

            &__description{
                padding: 1rem;
            }

        }
    }
}

@media only screen and (max-width: 350px){
    .skills{
        font-size: map-get($fonts-media, title);
        text-align: center;
        &-programming{
            padding: 0;
            &__languages{
                margin: .25rem;
                font-size: 20px;
                text-align: left;
                i{
                    margin-left: 1rem;
                    font-size: map-get($fonts-media, icons);
                }
            }
        }

        &-certifications{
            padding: 1rem;
            &__name{
                font-size: map-get($fonts-media, cert);
            }
        }
    }

    .projects{
        &-list{
            text-align: center;
            padding: 0;
            &__item{
                padding: .5rem;
                margin: .5rem;
                font-size: map-get($fonts-media, title);
                h3{
                    font-size: map-get($fonts-media, proj_title);
                }
                &__description{
                    font-size: map-get($fonts-media, proj_des);
                }
            }
        }
    }
}