$font-text: 'Monospace', 'Times New Roman';
$font-size: (
    'h1': 40px,
    'h2': 35px,
    'h3': 25px
);

@mixin regular-text {
    font-family: $font-text;
    color: white;
    text-align: left;
}

h1, h2, h3, p {
    @include regular-text;
}

h1 {
    font-size: map-get($font-size, h1);
    margin: 0;
}
h2{
    font-size: map-get($font-size, h2);
}
h3{
    font-size: map-get($font-size, h3);
    margin-bottom: 0;
    padding: 0;
}