$font-text: 'Monospace', 'Times New Roman';
$font-size: (
    'h1': 40px,
    'h2': 35px,
    'h3': 25px
);

h1, h2, h3, p {
    color: white;
    font-family: $font-text;
}

h1 {
    font-size: map-get($font-size, h1);
}