/* HTML TAGS */
html{
    background-color: #0a1d29;
}

body{
    margin:0;
}
h1 {
    font-family: 'Arial', 'Times New Roman';
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 0;
}
h2 {
    font-family: 'Arial', 'Times New Roman';
    font-size: 35px;
    color: white;
    text-align: left;
    padding-left: 0.25em;
    margin-bottom:0;
    margin-left: 2rem;
    margin-right: 2rem;
    border-bottom: 0.3rem;
    border-bottom-color: #e3c4a8;
    border-bottom-style: solid;

}
h3 {
    font-family: 'Arial', 'Times New Roman';
    font-size: 25px;
    color: white;
    text-align: left;
    margin-bottom: 0;
    padding: 0;
}
p{
    font: 'Arial', 'Times New Roman';
    color: white;
}

a{
    font: 'Arial', 'Times New Roman';
    color: white;
    text-decoration: none;
}

img{
    width: 50%;
    height: auto;
}

iframe{
    width: 75%;
    height: 30rem;
}

/* CREATED CLASS AND ID */
/* header{
    width: 100%;
    height: 72px;
    background-color: #111111;
    background-image: url('/resources/bg.jpg');
} */

header, header div, header div a{
    font: 'Monospace', 'Times New Roman';
    font-size: 30px;
    position: sticky;
    text-align: left;
    top: 0;
    background-color: #226089;
    color: white;
    padding: 0;
    border-top:0;
    margin: 0;
}
.name{
    background-image: url('resources/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
    width: 100%;
}

.navbar ul{
    font: inherit;
    padding-left: 1rem;
    margin: 0;
}

.navbar li{
    font: inherit;
    display: inline;
    text-decoration: none;
    padding-right: 1rem;
}
.navbar li a{
    color: white;
}
.navbar li a:hover{
    background-color: #479ad1;
    border-radius: 10%;
}
.info{
    color: white;
    padding: none;
    margin-top: 0;
}
.project{
    padding-left: 5rem;
}

.cgr-button{
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: #cd9665;
    border-radius: 5px;
    
}