h1 {
    /*font-family: [main font], [fallback font]
    more than one fallback font can be used in case the browser doesn't support one */
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: red;
    
}