.player{
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    padding: 1rem;
    &-item{
        color: black;
        text-align: center;
        padding: 1rem;
        &.active{
            border: solid .25rem none;
            border-radius: 15px;
            background-color: white;
        }
        &.green i{
            color: green;
        }
        &.red i{
            color: red;
        }
        &.yellow i{
            color: yellow;
        }
        &.blue i{
            color: blue;
        }
    }
}

.view{
    text-align: center;
    canvas{
        display: inline;
        border: solid 1px black;
    }
}