files:
  "/home/ec2-user/something.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      listen 443 ssl;
      ssl_certificate /etc/letsencrypt/live/moehaemad.ca/fullchain.pem;
      ssl_certificate_key /etc/letsencrypt/live/moehaemad.ca/privkey.pem;


container_commands:
  nginx_reload:
     command: "sudo nginx -s reload"