$primary-color: white;
$secondary-color: #e3c4a8;

.home{
    width: 100%;
    height: 100%;
    padding-top: 50vh;
    align-items: center;
    text-align: center;
    background: url('../images/bg.jpg') center top;
    background-size: cover;
    color: $primary-color;

    &__name{
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-top: 1 rem; 

        &--last{
            color: $secondary-color;
        }
    }

    .line{
        border: 2px solid $primary-color;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}


@media only screen and (max-width: 550px){
    .home{
        h2{
            font-size: 1rem;
        }
        &__name{
            font-size: 2rem;
        }
    }
}