$background: #daeaf6;
// $box-color: #c1dcf0;
$box-color: #e0bd9e;
$second-box-color: #ce9564;

$fonts-media: (
    h1: 3rem,
    title: 1rem,
    proj_title: 15px,
    proj_des: 13px,
    icons: 20px,
    cert: 15px,
    icon_text: 15px

);

//no flexbox in mixin
@mixin box($back){
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
    background: $back;
}

@mixin poppin($where){
    @if $where == 'out'{
        transform: scale(1.05, 1.05);
    }@else if $where == 'in'{
        transform: scale(.95, .95);
    }
    transition: all .25s ease-in-out;
}

.skills{
    @include box($background);
    text-align: center;
    // display: flex;
    // flex-direction: column;
    
    &-programming{
        padding: 2rem;
        &__languages{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;
            &__item{
                display:flex;
                @include box($box-color);
                margin: .5rem;
                i{
                    padding-left: 5rem;
                    align-self: flex-end;
                }
            &:hover{
                @include poppin('out');
            }
            }
        }
    }
    &-certifications{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        &__name{
            @include box($box-color);
            justify-content: center;
        }
    }

}

.projects{
    @include box($background);
    &-list{
        padding: 2rem;
        // display: flex;
        // flex-wrap: wrap;
        h2{
            flex:1;
        }
        &__item{
            display: flex;
            // flex-wrap: wrap;
            flex-direction: row;
            @include box($box-color);
            color: black;
            a{
                // line-height: 2rem;
                font-weight: bold;
                font-size: 1.17em;
                @include box($second-box-color);
                margin: 0;
                &:hover{
                    @include poppin('out');
                }
            }
            &__description{
                padding: 1rem;
            }

        }
    }
}

//phone query using iphone6/7/8 dimensions
@media only screen and (max-width: 400px){
    .skills{
        font-size: map-get($fonts-media, title);
        text-align: center;
        &-programming{
            padding: 0;
            &__languages__item{
                margin: .25rem;
                font-size: map-get($fonts-media, icon_text);
                text-align: left;
                i{
                    margin-left: 1rem;
                    font-size: map-get($fonts-media, icons);
                }
            }
        }

        &-certifications{
            padding: 1rem;
            &__name{
                font-size: map-get($fonts-media, cert);
            }
        }
    }

    .projects{
        &-list{
            text-align: center;
            padding: 0;
            &__item{
                padding: .5rem;
                margin: .5rem;
                flex-direction: column;
                font-size: map-get($fonts-media, title);
                h3{
                    font-size: map-get($fonts-media, proj_title);
                }
                &__description{
                    font-size: map-get($fonts-media, proj_des);
                }
            }
        }
    }
}