$background-gradient: (
    plain: #F8F9FA,
    blue: #45626A,
    blue-rgba: rgba(69, 98, 106, 1)
);
// $box-color: #c1dcf0;
$box-color: #e0bd9e;
$second-box-color: #ce9564;

$fonts-media: (
    h1: 3rem,
    title: 1rem,
    section_title: 2rem,
    proj_title: 15px,
    proj_des: 13px,
    icons: 20px,
    about: 20px,
    about-aisde: 13px,
    cert: 15px,
    icon_text: 15px

);

//no flexbox in mixin
@mixin box($back){
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
    background: $back;
}

@mixin poppin($where){
    @if $where == 'out'{
        transform: scale(1.05, 1.05);
    }@else if $where == 'in'{
        transform: scale(.95, .95);
    }
    transition: all .25s ease-in-out;
}

.about-me{
    // @include box($background);
    // background: url('../images/bg_section.jpg');
    background-color: map-get($background-gradient, plain);
    h2{
        font-size: map-get($fonts-media, section_title);
        text-decoration: underline;
    }
    &-title{
        // font-size: map-get($fonts-media, h1);
        // font-weight: bold;
        padding-top: 1rem;
        text-align: center;
    }
    &-description{
        padding: 0 2rem 2rem 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: map-get($fonts-media, proj_des);

        &__website{
            // font-size: map-get($fonts-media, proj_title);
            font-size: map-get($fonts-media, about);
        }

        &__aside{
            font-size: map-get($fonts-media, about-aisde);
            padding: 5px 2rem 0 2rem;
            color: #0404048c;
        }
    }
    
}

.skills{
    // @include box($background);
    text-align: center;
    // display: flex;
    // flex-direction: column;
    background-image: linear-gradient(map-get($background-gradient, plain), map-get($background-gradient, blue));
    &-programming{
        padding: 2rem;
        h2{
            font-size: map-get($fonts-media, section_title);
            text-decoration: underline;
        }
        &__languages{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;
            &__item{
                display:flex;
                @include box($box-color);
                margin: .5rem;
                i{
                    padding-left: 5rem;
                    align-self: flex-end;
                }
            &:hover{
                @include poppin('out');
            }
            }
        }
    }
    &-certifications{
        padding: 2rem;
        h2{
            font-size: map-get($fonts-media, section_title);
            text-decoration: underline;
        }
        &-list{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 2rem;
            &__name{
                @include box($box-color);
                justify-content: center;
            }
        }
    }

}

.contact-me{
    // display: flex;
    // background: map-get($background-gradient, plain);
    background: linear-gradient(map-get($background-gradient, blue), map-get($background-gradient, plain));
    &-title{
        text-align: center;
        padding-top: 1rem;
        font-size: map-get($fonts-media, section_title);
        text-decoration: underline;
    }

    &-description{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 2rem 2rem 2rem;
        font-size: map-get($fonts-media, about);
        & *{
            align-self: center;
            width: 50rem;
        }
        & .email-message{
            height: 10rem;
            width: 50rem;
        }
        & .submit{
            background-color: $box-color;
            border-radius: 15px;
            margin-top: 1rem;
            padding: 1rem 0 1rem 0;
            width: 25rem;
            height: 3rem;
        }
    }
}

//phone query using iphone6/7/8 dimensions
@media only screen and (max-width: 500px){
    .skills{
        text-align: center;
        &-programming{
            padding: 0;
            &__languages__item{
                margin: .25rem;
                font-size: map-get($fonts-media, icon_text);
                text-align: left;
                i{
                    margin-left: 1rem;
                    font-size: map-get($fonts-media, icons);
                }
            }
        }

        &-certifications{
            padding: 1rem;
            &__name{
                font-size: map-get($fonts-media, cert);
            }
        }
    }

    .contact-me{
        &-description{
            & *{
                width: 15rem;
            }
            & .email-message{
                width: 15rem;
            }
            & .submit{
                width: 7rem;
            }
        }
    }
}

@media only screen and (min-width: 500px) and (max-width: 850px){
    .contact-me{
        &-description{
            & *{
                width: 30rem;
            }
            & .email-message{
                width: 30rem;
            }
            & .submit{
                width: 15rem;
            }
        }
    }
}